BIOTIME_URL=http://localhost:8083
BIOTIME_USER=admin
BIOTIME_PASS=
BIOTIME_TZ=Europe/Paris

ODOO_URL=https://votre-instance.odoo.com
ODOO_DB=votre-base
ODOO_USER=admin@societe.com
ODOO_API_KEY=

SAME_DAY_ONLY=1
MAX_SHIFT_HOURS=16
DUPLICATE_MINUTES=2

WORK_DAYS=0,1,2,3
DAILY_HOURS=9
BREAK_MINUTES=60
SHORT_DAY_HOURS=6

TERMINALS_IN=
TERMINALS_OUT=
